.App {
  text-align: center;

}

#nav{
  background: linear-gradient(
90deg, rgb(32, 0, 126) 0%, rgb(230, 30, 182) 100%);
/* position:fixed;
top:0;
width:100%;

z-index:100; */
}






footer{
  background: linear-gradient(
    90deg, rgb(32, 0, 126) 0%, rgb(230, 30, 182) 100%);
}

